
    <header >
    <div class="divImagenLogo">
        <img src="/images/logomonedas.png" alt="Logo">
    </div>
    <div class="navHeader">
        <nav>
            <ul>
            <li><a href="/profile/events">Eventos</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/auth/logout">Log out</a></li>
            </ul>
        </nav>
    </div>
    </header>
    
    <section class="sectionGastos">
        <h1 class="tituloDelEvento">Evento</h1>
        <div class="divCardGastosEvent">
            <div class="divGastosIMg">
                <img src={{eventImg}}>
            </div>
            <div class="divCaracteristicasEvent">
                <h1>{{nameEvent}}</h1>
                <h1 style="margin-bottom: 20px;">{{tittle}}</h1>
                <p> Fecha del evento: {{date}}</p>
                <p>Autor del evento:  {{author}}</p>
            </div>
            <div class="divParticipantes">
                <h1>Participantes</h1>
                <ul>
                    {{#each participants}}
                    <li><p>{{this}}</p></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="divGastos">
            <div class="divGastosParticipantes">
                <h2>Lista de Gastos</h2>
                {{#each gastos}}
                <div class="divGastoParticipantes">
                    <p>{{username}}</p>
                    <p>{{description}}</p>
                    <p>${{costo}}</p>
                </div> 
                {{/each}}
            </div>
            <div class="divGastosTotales">
                <h2>Gastos totales por usuario</h2>
                {{#each gastosTotales}}
                <div class="divGastoParticipantes">
                    <p>{{username}}</p>
                    <p>${{gastoTotal}}</p>
                </div> 
                {{/each}}
            </div>
            <div class="divNuevoGasto">
                <form action="/profile/nuevo/gasto" method="POST">
                    <h2 style="margin-bottom: 35px;">Nuevo Gasto</h2>
                    <input type="hidden" name="id" id="id" value={{_id}}>
                    <div >
                        <label for="descripcion">Descripción</label>
                        <input type="text" name="descripcion" id="descripcion">
                    </div>
                    <div>
                        <label for="gasto">Cantidad</label>
                        <input type="text" name="gasto" id="gasto">
                    </div>
                    <button type="submit">Aceptar</button>
                </form>
            </div>
        </div>

    </section>
