
    <header >
    <div class="divImagenLogo">
        <img src="/images/logomonedas.png" alt="Logo">
    </div>
    <div class="navHeader">
        <nav>
            <ul>
            <li><a href="/profile/events">Eventos</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/auth/logout">Log out</a></li>
            </ul>
        </nav>
    </div>
    </header>
<div class="divIndexProfile">
    <div class="divProfile">
            <h1>{{UsernameData.username}}</h1>
        <img src="{{UsernameData.Avatar}}"/>
        
            <form class="formCambiarImg" action="/foto/create" method="post" enctype="multipart/form-data">
                <label class="gitano" for="firstimg">
                    <img class="changeimg imagennueva" src="images/pictureicon1.png">
                    
                </label> 
                <input id="firstimg" type="file" name="profile-cover-image" accept="image/*" style="display: none; visibility: none;" />

            <button type="submit" class="btn btn-primary">Create</button>

            </form>
   

        
        <p>Nombre <br>{{UsernameData.name}}</p>
        <p>Email <br>{{UsernameData.email}}</p>
        <form class="formEventoAmigo" action="/profile/new/event" method="POST">
            <input id="_id" type="text" placeholder="id del evento" name="id">
            <button type="submit">Agregar </button>
        </form>
       <h1>email friend</h1>
<form action="/send-email" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit">Submit</button>
</form>
        <div class="divEventosFavoritos">
            <h1>Mis eventos Favoritos</h1>
                    <div>
            {{#each UsernameData.favoritePlace}}
            <div>
                <img src={{eventImg}}>
                <p>{{nameEvent}}</p>
                <p>{{tittle}}</p>
                <div class="formEventoAmigo">
                    <form action="/profile/favorite/remove" method="POST">
                        <input type="hidden" name="id" value={{idEvento}}  />
                        <button type="submit">Quitar</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
        </div>


    </div>
    <div class="divEventosProfile">
        <div class="divMisEventos">
            <h1>Mis eventos</h1>
            <div class="divEvents">
                {{#each myEvents}}
                    <div  class="cardMyevents" >
                        <div class="divImgMyevents">
                            <img  src={{eventImg}}>
                        </div>
                        <div class="divParrafosCard">
                            <h1>{{nameEvent}}</h1>
                            <p style="justify-content:center; font-size:17px">{{tittle}}</p>
                            <p>Autor del Evento: {{author}}</p>
                            <p>Participantes:</p>
                            <ul>
                                {{#each participants }}
                                    <li><p>{{Usuario}}</p></li>
                                {{/each}}  
                            </ul>
                        </div>
                        <div class="divEnlacesMyEvents">

                            <a href="/profile/nuevoGasto/{{_id}}">Ver Gastos</a>

                            
                            <div style="display: flex; flex-direction:row; width:100%; justify-content:space-around">
                                <form action="profile/event/favorite" method="POST">
                                    <input type = "hidden" value={{_id}}  name="id" />
                                    <button>Favorito</button>
                                </form>
                                <form>
                                    <input type = "hidden" value={{_id}}  name="id" />
                                    <button>Eliminar</button>
                                </form>

                            </div>

                            <p >Id Evento <br> {{_id}}</p>
                            {{!-- <p>Id del Evento</p> --}} 
                        </div>
                    </div>
                {{/each}}
            </div>
    
        </div>

    </div>

</div>




{{!-- {{#each}}
    <div>
        <img={{eventos.eventImg}}>
        <h1>{{eventos.name}}</h1>
        <h2>{{eventos.description}}</h2>
    </div>
{{/each}} --}}